.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: #ff523b;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 70%;
}

/* Place text to the right */
.right {
    text-align: right;
}


/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {
    width: 60%;
    height: 18px;
    background-color: #ff523b;
}

.bar-4 {
    width: 30%;
    height: 18px;
    background-color: #ff523b;
}

.bar-3 {
    width: 10%;
    height: 18px;
    background-color: #ff523b;
}

.bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff523b;
}

.bar-1 {
    width: 15%;
    height: 18px;
    background-color: #ff523b;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {

    .side,
    .middle {
        width: 100%;
    }

    .right {
        display: none;
    }
}
/**/
.review-img {
    width: 100%;
}
.review-img img {
    width: 100%;
}
.container-1 {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    cursor: pointer;
}

.container-1::after {
    content: "";
    clear: both;
    display: table;
}

.container-1 .client-img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
.container-1 .p-review-img {
    float: right;
    border-radius: 10px;
}

.container-1 span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .container-1 {
        text-align: center;
    }

    .container-1 img {
        margin: auto;
        float: none;
        display: block;
    }
}